.aboutUs{
    display: grid;
    background-color: #EFF2F5;
    gap: 5rem;
    grid-template-columns:5% 1fr 1fr 5%;

    color: #7278F2;
    padding: 10rem 0;
}

.aboutUs-left{
    grid-column: 2;
    min-width: 20rem;
}

.aboutUs-right{
    grid-column: 3;
    grid-row: 2;
}

.aboutUs .superscript{
    color: #0713F2;
    letter-spacing: 0.3rem;
}

.aboutUs .title{
    margin: 0.5rem 0;
    font-size: 32px;
    font-weight: 700;
    color: #060FBF;
}

.aboutContent{
    font-size: 1.2rem;
    line-height: 1.5;
}

.aboutUs img{
    width: 40vw;
}

.hubble{
    grid-column: 3;
}

.universe{
    grid-row: 2;
    grid-column: 2;
}