.Nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:2rem 5rem;
    gap: 2em;

}

.Nav-logo{
    height: auto;
    width: 10rem;
}

.Nav-links{
    grid-column: 3/5;
    display: flex;
    align-items:center;
    justify-content: space-around;
    /* gap:2em; */
    font-size: 20px;
    margin-left: 5rem;
    
}

.Nav-links > div{
    display: flex;
    align-items: center;
    width: fit-content;
    flex-shrink: 0;
    gap: .5em;
}

.Nav-links div{
    transition-duration: 0.5s;
    cursor:pointer;
}

.Nav-links div:hover{
    transform: scale(1.2);
}